<h1>Editing feature</h1>

<% form_for(@feature) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :as_a %><br />
    <%= f.text_field :as_a %>
  </p>
  <p>
    <%= f.label :i_want %><br />
    <%= f.text_field :i_want %>
  </p>
  <p>
    <%= f.label :so_that %><br />
    <%= f.text_field :so_that %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @feature %> |
<%= link_to 'Back', features_path %>